<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<div class="container w-full h-screen">
    <div class="w-[100%] h-[30%] bg-blue-300 mt-10 rounded-md mx-[10%]">
    <h1 class="text-6xl text-center py-[4%] capitalize">Social media application</h1>
        <div class="flex   justify-center gap-5 mt-5">
            <a class="bg-blue-500 text-white text-lg px-4  py-2 rounded-full" href="/login">Continue surfuring</a>
            <a class="bg-blue-500  px-4 text-lg text-white  py-2 rounded-full" href="/register">Register yourself</a>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
